name: Go

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]

jobs:

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -v ./...

    - name: Install SoftHSM
      run: sudo apt-get -y install softhsm2

    - name: Setup SoftHSM
      run: ./.github/scripts/setup-softhsm.sh
      shell: bash

    - name: Test
      run: go test -v ./...
      env:
        GLOBALSIGN_EST_SKIP: tpm
